.purple-bar .progress-bar {
    background-color: #6a0dad !important;  /* Purple color */
  }
  
  .skills-heading {
    text-align: center;
    color: #6a0dad;  /* Purple color */
  }
  
  .text-center {
    text-align: center;
  }